# Dependencies
node_modules/
.pnp
.pnp.js


# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Prisma
*.db
*.db-journal

# Docker
docker-compose.override.yml